
@media screen and (max-width:480px){
    .cardBody{
        width: 15rem;
        height:20rem;
        /* border: 2px solid red; */
    }
    .name{
        font-size: 13px;
    }
    .desc{
        font-size: 10px;
        margin-top: 0;
    }
    .image{
        height: 10rem;
    }
    .container{
        margin-top: 10px;
    }
    .github{
        font-size: 10px;
    }
    .link{
        font-size: 10px;
    }
}


@media screen and (max-width:480px){
    .cardBody{
        width: 15rem;
        height:20rem;
        /* border: 2px solid red; */
    }
    .name{
        font-size: 13px;
    }
    .desc{
        font-size: 10px;
        margin-top: 0;
    }
    .image{
        height: 10rem;
    }
    .container{
        margin-top: 10px;
    }
    .github{
        font-size: 10px;
    }
    .link{
        font-size: 10px;
    }
}