.main{

}
.scrollImage{
    width: 3rem;
    height: 2.7rem;

}
.scrollAnimation{
    width: 3rem;
    height: 2.7rem;
    animation: launching 1s forwards  ease-in-out;
}

@Keyframes launching{
    from {transform: translate(0px,0px);}
    to{transform: translate(0px,-100rem);}
}


@media screen and (max-width: 1024px) {
    .main{
     display: none;
    }
   }
   
